*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* /**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 12%;
  margin: 0;
  background-color: #ececec;
}
.container {
  border: 4px solid black;
  height: 708px;
  width: 390px;
  display: flex;
  flex-direction: column;
}

.top-section {
  flex: 1 0 auto;
  width: 100%;
  height: 10rem;
  background-image: linear-gradient(
    to bottom right,
    #14d6fc,
    #1bc9fe,
    #1fbdfe,
    #23b6ff,
    #29abff,
    #2da2ff,
    #3395fe,
    #208bfe,
    #0b81fe
  );
}

.output {
  display: flex;

  align-items: flex-start;
  flex-wrap: wrap;

  padding: 6px;
  height: 135px;
  width: 100%;
}

.numbersOperated {
  display: flex;
  color: rgb(230, 222, 222);
  font-weight: 500;
  justify-content: end;
  font-size: 1em;
  margin-bottom: 2px;
  width: 100%;
}

.result {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  color: #ffffff;
  font-weight: 600;
  font-size: 2.2em;
  margin: 0;
  justify-content: end;
}

.head {
  margin-top: 5px;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  font-size: small;
}

.bottom-section {
  flex: 0 1 auto;
  background-color: #ffffff;
}

div.buttonsForCalculator {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
}

div.topBtns {
  display: flex;
  width: 100%;
  height: 20%;
}

button.clear.calculatorBtn,
button.delete.calculatorBtn {
  flex: 1 1 50%;
  padding: 1.5rem;
  /*Styles for buttons*/
  background-color: #ffffff;
  text-decoration: none;
  font-size: 1.28em;
  font-weight: 600;
  border: none;
  transition: 0.3s;
}

div.bottomBtns {
  justify-content: center;

  width: 100%;
  height: 453px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

button.calculatorBtn {
  flex: 1 1 25%;
  height: 25%;
  /*Styles for buttons*/

  background-color: #ffffff;
  text-decoration: none;
  font-size: 32px;
  font-weight: 100;
  border: none;
  transition: 0.3s;
}

button:hover {
  background-color: #f0ecec;
}

button:active {
  background-color: #b4b1b1;
  transform: translateY(4px);
}
