html {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  background-color: #ececec;
}
.container {
  border: 2px solid black;
  height: 690px;
  width: 390px;
  display: flex;
  flex-direction: column;
}

.top-section {
  flex: 1 0 auto;
  width: 100%;
  height: 10rem;
  background-image: linear-gradient(
    to bottom right,
    #14d6fc,
    #1bc9fe,
    #1fbdfe,
    #23b6ff,
    #29abff,
    #2da2ff,
    #3395fe,
    #208bfe,
    #0b81fe
  );
}

.output {
  display: flex;
  flex-direction: column;
  align-items: end;

  margin-right: 29px;
  padding: 6px;

  height: 130px;
}

.numbersOperated {
  color: #e6dede;
  font-weight: 500;
  margin-left: 2px;
  font-size: 1em;
}

.result {
  color: #ffffff;
  font-weight: 600;
  font-size: 2.5em;
  margin: 0;
}

.head {
  margin-top: 5px;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  font-size: small;
}

.bottom-section {
  flex: 1 1 auto;
  background-color: #ffffff;

  height: 100%;
}

div.buttonsForCalculator {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
}

div.topBtns {
  display: flex;
  width: 100%;
  height: 20%;
}

button.clear,
button.delete {
  flex: 1 1 50%;
  padding: 1.5rem;
  /*Styles for buttons*/
  background-color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  text-decoration: none;
  border: none;
  transition: 0.3s;
}

div.bottomBtns {
  justify-content: center;

  width: 100%;
  height: 453px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

button.calculatorBtn {
  flex: 1 1 25%;
  height: 25%;
  /*Styles for buttons*/

  background-color: #ffffff;
  text-decoration: none;
  font-size: 32px;
  font-weight: 100;
  border: none;
  transition: 0.3s;
}

button:hover {
  background-color: #f0ecec;
}

button:active {
  background-color: #b4b1b1;
  transform: translateY(4px);
}
